{
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: Verdana,sans-serif;
}

/*
Owner: Jessica Murdoch
navbar basic desisn inspiration from https://www.w3schools.com/howto/howto_js_topnav.asp 
Date April 03, 2023*/

.navbar {
  background-color: #24527a; 
  color:#5dacbd;
  display:flex;
  overflow: hidden;
}
.navlist {
  list-style: none;
  float: right;
  color: #5dacbd; 
  padding: 10px 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
}
.navlist .list_item {
  display: inline-block;
  padding: 16px 8px;
}
.navbar a {
  color:#5dacbd;  
  text-decoration: none;
}
.navbar a:hover {
  color:  #e0ebeb; 
}
.navlist a.active {
  background-color: #0f4754;
  color:  white; 
}
/*End of navbar basics for navbar by Jessica Murdoch*/
