/*
Owner: Jessica Murdoch
navbar basic desisn inspiration from https://www.w3schools.com/howto/howto_js_topnav.asp 
Date April 03, 2023*/

.navbar {
  overflow: hidden;
  color: #2E8BC0;
}

.navbar a {
  float: right;
  color: #B1D4E0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #145DA0;
  color: black;
}

.navbar a.active {
  background-color: #0C2D48;
  color: white;
}
/*End of navbar basics for navbar by Jessica Murdoch*/
