body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, serif;
  font-size: 50px;
  color: steelblue;
}

h2 {
  font-family: Monaco, serif;
  font-size: 35px;
  color: slategray;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: Black;
   color: seashell;
   text-align: Center;
}

/*
Owner: Jessica Murdoch
navbar basic desisn inspiration from https://www.w3schools.com/howto/howto_js_topnav.asp 
Date April 03, 2023*/

.navbar {
  overflow: hidden;
  background-color: #2E8BC0;
  display:flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: right;
  padding: 10px 14px;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #B1D4E0;
  color: white;
}

.navbar a.active {
  background-color: #145DA0;
  color: white;
}
/*End of navbar basics for navbar by Jessica Murdoch*/
